*{
  margin:0;
  padding:0;
  font-size:12px;
  border:none;
}

.container {
  height:100vh;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.todo {
  width:50%;
  box-shadow: 0 0 5px rgba(211,211,211, 0.5);
}

.title-bar {
  padding: 5px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.refresh{
  padding-right:7px;
}

.title-bar,
.todo-list div,
.submit-btn,
.field-group  {
  border-bottom:1px solid rgba(211,211,211, 0.5);
  padding:10px 10px;
}

.container h1 {
  font-size: 1.5em;
}

form {
  display:flex;
  flex-direction: column;
}

.field-group {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

input.add-item {
  width:95%;
  box-sizing: border-box;
  font-size: 1.5em;
  padding:10px 10px;
}

input.add-item:focus{
  outline:none;
}

.todo-list div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* border:1px solid green; */
}

p.activity-desc {
  padding: 0 5px;
  width:100%;
  /* outline:1px solid pink; */
}

/* remove subtle border on ellipsis div */
div.ellipsis {
  border:none;
}

/* to do list button */
.submit-btn {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.3);
  cursor: pointer;
}

